
<%- include('./header.ejs') %>

<h1>Here are some bananas!</h1>
<a href="/">Go back to the list of things</a><br>
<img src="https://api.creativecommons.engineering/v1/thumbs/016f32af-2ca9-469e-a5e9-09d1307edea1" alt="">
<img src="https://api.creativecommons.engineering/v1/thumbs/e8066c28-97c7-4e91-91ff-1e93d3983db9" alt="">
<img src="https://api.creativecommons.engineering/v1/thumbs/65526b69-e02d-4216-8dd4-1d4b6fd214f5" alt="">
<img src="https://api.creativecommons.engineering/v1/thumbs/e51b57c9-ba3f-4ce5-9cc1-aa1d7865c80c" alt="">

<%- include('./footer.ejs') %>