<!DOCTYPE html>
<html>
  <head>
    <title>All the things!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/bananas"><h2>Bananas</h2></a><br>
    <a href="/llamas"><h2>Llamas</h2></a><br>
    <a href="/tacos"><h2>Tacos</h2></a><br>
  </body>
</html>
