<%- include('./header.ejs') %>

<h1>Here are some llamas!</h1>
<a href="/">Go back to the list of things</a><br>
<img src="https://api.creativecommons.engineering/v1/thumbs/ff80b67f-cb38-41f8-bddf-c3eaeabd5625" alt="">
<img src="https://api.creativecommons.engineering/v1/thumbs/854fb177-e8cc-4637-be1a-cdea9cc3e7ff" alt="">
<img src="https://api.creativecommons.engineering/v1/thumbs/aa493927-639d-4818-ba0e-da5ffdf9f7b0" alt="">
<img src="https://api.creativecommons.engineering/v1/thumbs/18739e37-af3a-4b4e-8b1e-2233ea90c5a2" alt="">

<%- include('./footer.ejs') %>